.carousel {
    max-width: 950px;
    margin: auto;
    position: relative;
    left: -123px;
  }
  
  .carousel-caption {
    bottom: 20px;
  }
  
  .carousel-caption button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
  }


  .carousel {
    border-radius: 15px; /* Adjust the value as needed */
    overflow: hidden; /* Ensure content doesn't overflow the rounded corners */
  }
  
  .carousel-item img {
    border-radius: 15px; /* Adjust the value to match the .carousel border-radius */
  }
/* card
  .card-container {
    max-width: 250px;
    margin: 20px;
    
  }
  
  .card {
    position: relative;
    border: none;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .hover-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card-image:hover .hover-content {
    opacity: 1;
  }
  
  .add-to-cart-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  .card-body {
    padding: 15px;
    background-color: #101014;
    text-align: center;
  }
  
  .base-game {
    font-size: 12px;
    color: #ababac;
  }
  
  .card-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    color: #ffffff;
  }
  
  .price-details {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  
  .discount {
    color: red;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .original-price {
    text-decoration: line-through;
    color: #ababac;
    margin-right: 10px;
  }
  
  .discounted-price {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
  } */


 /* new card */
  .card-container {
    max-width: 250px;
    margin: 20px;
  }
  
  .card {
    position: relative;
    border: none;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hover-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card-image:hover .hover-content {
    opacity: 1;
  }
  
  .add-to-cart-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  .card-body {
    padding: 15px;
    background-color: #101014;
    text-align: center;
  }
  
  .base-game {
    font-size: 12px;
    color: #ababac;
  }
  
  .card-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    color: #ffffff;
  }
  
  .price-details {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  
  .discount {
    color: red;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .original-price {
    text-decoration: line-through;
    color: #ababac;
    margin-right: 10px;
  }
  
  .discounted-price {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
  } 
/* heading top releases */
.section-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}




/* game experiences */
.card-container1 {
  max-width: 550px;
  margin: 20px;
}
.card-image1 {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.discounted-price1 {
  color: #ababac;
  font-size: 15px;
  font-weight: bold;
} 

/* curseer */
.card-body{
  cursor:pointer
}
